body {
    margin: 0 auto;
}

.wrapper {
    display: grid;
    
    grid-template-columns: 400px 200px 200px;
    grid-template-rows: repeat(16, 50px);

    margin-left: 20%;
    margin-right: 20%;
}

.profile {
    grid-row: 1/-2;

    background-color: rgb(227, 227, 227);
}

h1 {
    color: black;
}

.about_me {
    grid-row: span 4;
    grid-column: span 2;

    background-color: red;
}

.job_experience {
    grid-row: span 6;
    grid-column: span 2;

    background-color: yellow;
}

.skills {
    grid-row: span 3;
    grid-column: span 2;

    background-color: green;
}

.language {
    grid-row: span 2;

    background-color: brown;
}

.hobbies {
    grid-row: span 2;

    background-color: blue;
}

.footer {
    grid-column: span 3;

    color: white;
    background-color: black;
}